@import 'basic/varieables';
@import 'basic/mixins';


*
    font-family: 'Museo Sans Cyrl',sans-serif
    & a
        transition: 0.3s all

.container
    max-width: 1170px
    margin: 0 auto
.title
    color: #333333
    font-size: 30px
    font-weight: 700
    line-height: 45px
    text-align: center
    margin: 0 auto
.descr
    color: #000000
    font-size: 20px
    font-weight: 100
    text-align: center
.round
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    border: 2px solid $main-color
    border-radius: 100%
    &_img
        display: flex
        justify-content: center
        align-items: center
        max-width: 34px
        max-height: 34px
    

   



@import 'basic/interface'
@import 'blocks/nav'
@import 'blocks/promo'
@import 'blocks/free'
@import 'forms/getfree'
@import 'blocks/sincework'
@import 'blocks/sales'
@import 'blocks/measure'
@import 'blocks/advantages'
@import 'blocks/guaranty'
@import 'blocks/feedback'
@import 'blocks/footer'
@import 'blocks/media'
