.free
    max-height: 595px
    padding: 84px 0px 92px 0
    & .container
        position: relative
    &__bg-img
        position: absolute
        max-height: 100%
        top: -84px
        left: 575px
    &__wrapper
        padding-right: 90px
    & .title
        font-size: 24px
        line-height: 35px
    & .descr
        margin-top: 16px
        color: #333333
        font-size: 16px
        font-weight: 300
    &__form-wrapper
        max-width: 495px
        margin-top: 30px
    &__subform
        max-width: 495px
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-top: 30px
        font-size: 15px
        font-weight: 300
        line-height: 24px
    &__youcall a 
        display: block
        color: #333333
        font-size: 15px
        font-weight: 700
        text-decoration: none
    


    
