
@media ( min-width:1200px )
    .sales
        &__slider
            display: none
        & .arrows
            display: none
    .measure
        &__slider
            display: none
        & .arrows
            display: none
    .guaranty
        &__slider
            display: none
        & .arrows
            display: none

@media ( max-width:1200px )
    .title
        font-size: 24px
        line-height: 35px
    .navbar
        padding: 0 25px
    .promo
        min-height: 530px
        padding: 30px 25px
        &__left
            & h1
                font-size: 36px
                line-height: 46px
            & span 
                margin-top: 13px
                width: 262px
                font-size: 21px
        &__list
            margin-top: 36px
        &__item
            font-size: 16px
            margin-top: 22px
            line-height: 22px
        &__round
            margin-right: 20px
        &__right
            width: 510px
    .free
        max-height: 540px
        padding: 50px 25px 62px 25px
        background: url('../img/freeblock.jpg') center center/auto repeat-y
        &__form-wrapper
            max-width: 455px
            margin-right: 0
        &__subform
            max-width: 455px
    .sales
        &__slider
            display: none
    .measure
        &__slider
            display: none
    .guaranty
        &__slider
            display: none
    

@media ( max-width:768px ) ,  ( max-width: 992px )
    .title
        font-size: 24px
        line-height: 32px
    .navbar
        padding: 0 25px
        &__contacts a
            font-size: 17px
    .promo
        min-height: 420px
        padding: 0 25px
        &__left
            padding-top: 40px
            & h1
                font-size: 28px
                line-height: 33px
            & span 
                margin-top: 5px
                width: 220px
                font-size: 17px
        &__list
            margin-top: 30px
        &__item
            font-size: 14px
            margin-top: 20px
            line-height: 20px
        &__round
            margin-right: 20px
        &__right
            width: 376px
            height: auto
            padding-top: 40px
    .free
        max-height: 540px
        padding: 40px 25px 50px 25px
        background: none
        &__wrapper
            padding-right: 0
        & .descr
            margin-top: 14px
        &__form-wrapper
            max-width: 495px
            margin-top: 20px
        &__subform
            max-width: 495px
            margin-top: 30px
    .since-work
        padding: 50px 25px
        &__slider
            margin-top: 50px  
    .sales
        padding: 52px 20px 55px 20px
        & .title
            width: 250px
        & .descr
            margin: 25px 0 30px 0 
        &__wrapper
            display: none
        &__slider
            display: block
        &-item
            margin-right: 0
            margin-bottom: 0
            min-height: 0
            padding-bottom: 33px
            &__header
                margin-top: 28px
                font-size: 14px
            &__more 
                margin-top: 12px
                font-size: 16px  
    .measure
        min-height: 428px
        padding: 25px 0 75px 0
        & .title
            width: 245px
        & .descr
            margin-top: 24px
        &__wrapper
            display: none
        &__slider
            display: block
            margin-top: 30px
        &-item
            width: 150px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            margin: 0 auto
            &:last-child
                margin: 0 auto
            &::after
                content: ''
                display: none
            &__round
                width: 100px
                height: 100px
            &__descr
                width: 130px
                margin-top: 20px
                font-size: 12px
                line-height: 16px
    .advant-plus
        padding: 72px 20px 76px 20px
        min-height: 230px
        &__descr
            font-size: 18px
            line-height: 26px
    .advantages
        padding: 60px 20px 49px 20px
        &__wrapper
            flex-wrap: wrap
        &-item
            width: 277px
            min-height: 300px
            margin: 0 0 28px 0
            &__descr
                margin: 18px 0 0 20px
                font-size: 12px
                line-height: 17px
            &__img
                width: 100%
                height: auto
    .guaranty
        padding-bottom: 90px
        & .title
            width: 243px
        &__wrapper 
            display: none
        &__slider
            margin-top: 30px
            display: block
        &-item
            &__img
                width: 270px
                height: 360px
                & img 
                    width: 100%
            &__descr
                margin-top: 28px
                font-size: 14px
                line-height: 24px
    .feedback
        display: block
        min-height: 660px
        &__bg-quest,&__bg-free
            display: none
        & .container
            display: block
        & .title
            width: 224px
            font-size: 18px
            line-height: 24px
            margin: 0
        & .descr
            font-size: 14px
            width: 194px
            line-height: 18px
            text-align: left
            margin-top: 12px
        &-question
            padding: 40px 20px 50px 20px            
            width: 100%
            background-color: $bg-color
            &__list
                margin-top: 42px
            &__item
                width: 238px
                font-size: 14px
                margin-top: 30px
                padding-left: 43px
        &-free
            padding: 60px 20px 32px 20px
            background: url('../img/bg_free.jpg') center center/cover no-repeat
            & .title
                text-align: center
                width: 290px
            & .descr
                width: auto
            &__form-wrapper
                margin-top: 38px
                width: 100%
            & .getfree-form__input
                width: 100%
                margin-bottom: 15px
            &__subform
                width: 165px
                margin-top: 30px
    .footer
        display: flex
        flex-wrap: wrap
        flex-direction: column-reverse
        &__map
            width: 100%
            height: 400px
        &__info
            width: 100%
            padding: 67px 20px 64px 20px
            & .title
                font-size: 18px
                line-height: 24px
                margin: 0
        &__contacts
            margin-top: 38px
        &__contact
            font-size: 16px
            line-height: 26px
            padding-left: 38px
            margin-bottom: 35px
        



@media ( max-width:576px )
    .title
        font-size: 18px
        line-height: 26px
    .descr
        font-size: 14px
    .navbar
        padding: 0 16px
        &__contacts
            display: none
    .promo
        padding: 0 20px 52px 20px
        &__wrapper
            flex-wrap: wrap
        &__left
            padding-top: 40px
            & h1
                font-size: 23px
                line-height: 28px
            & span 
                margin-top: 8px
                width: 200px
                font-size: 16px
                line-height: 20px
        &__list
            margin-top: 28px
        &__item
            font-size: 12px
            margin-top: 20px
            line-height: 18px
            min-width: 270px 
            &__img
                max-height: 190px
        &__round
            margin-right: 15px
        &__right
            padding-top: 38px
    .free
        max-height: 595px
        padding: 53px 20px 56px 20px
        &__form-wrapper
            max-width: 495px
            margin-top: 30px
        &__subform
            margin-top: 22px
            flex-wrap: wrap
            padding-left: 7px
        &__youcall
            margin-top: 6px 
    .since-work
        padding: 43px 20px
        background: none
        &__slider
            margin-top: 40px
    .sales
        padding: 52px 20px 55px 20px
        & .title
            width: 250px
        & .descr
            margin: 25px 0 30px 0 
        &__wrapper
            display: none
        &-item
            margin-right: 0
            margin-bottom: 0
            min-height: 0
            padding-bottom: 33px
            &__header
                margin-top: 28px
                font-size: 14px
            &__more 
                margin-top: 12px
                font-size: 16px  
    .measure
        min-height: 428px
        padding: 25px 0 75px 0
        & .title
            width: 245px
        & .descr
            margin-top: 24px
        &__wrapper
            display: none
        &__slider
            margin-top: 30px
        &-item
            width: 150px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            margin: 0 auto
            &:last-child
                margin: 0 auto
            &::after
                content: ''
                display: none
            &__round
                width: 100px
                height: 100px
            &__descr
                width: 130px
                margin-top: 20px
                font-size: 12px
                line-height: 16px
    .advant-plus
        padding: 72px 20px 76px 20px
        min-height: 230px
        &__descr
            font-size: 18px
            line-height: 26px
    .advantages
        padding: 60px 20px 49px 20px
        &__wrapper
            flex-wrap: wrap
        &-item
            width: 277px
            min-height: 300px
            margin: 0 0 28px 0
            &__descr
                margin: 18px 0 0 20px
                font-size: 12px
                line-height: 17px
            &__img
                width: 100%
                height: auto
    .guaranty
        padding-bottom: 90px
        & .title
            width: 243px
        &__wrapper 
            display: none
        &__slider
            margin-top: 30px
            display: block
        &-item
            &__img
                width: 270px
                height: 360px
                & img 
                    width: 100%
            &__descr
                margin-top: 28px
                font-size: 14px
                line-height: 24px
    .feedback
        display: block
        min-height: 660px
        &__bg-quest,&__bg-free
            display: none
        & .container
            display: block
        & .title
            width: 224px
            font-size: 18px
            line-height: 24px
            margin: 0
        & .descr
            font-size: 14px
            width: 194px
            line-height: 18px
            text-align: left
            margin-top: 12px
        &-question
            padding: 40px 20px 50px 20px            
            width: 100%
            background-color: $bg-color
            &__list
                margin-top: 42px
            &__item
                width: 238px
                font-size: 14px
                margin-top: 30px
                padding-left: 43px
        &-free
            padding: 60px 20px 32px 20px
            background: url('../img/bg_free.jpg') center center/cover no-repeat
            & .title
                text-align: center
                width: 290px
            & .descr
                width: auto
            &__form-wrapper
                margin-top: 38px
                width: 100%
            & .getfree-form__input
                width: 100%
                margin-bottom: 15px
            &__subform
                width: 165px
                margin-top: 30px
    .footer
        display: flex
        flex-wrap: wrap
        flex-direction: column-reverse
        &__map
            width: 100%
            height: 400px
        &__info
            width: 100%
            padding: 67px 20px 64px 20px
            & .title
                font-size: 18px
                line-height: 24px
                margin: 0
        &__contacts
            margin-top: 38px
        &__contact
            font-size: 16px
            line-height: 26px
            padding-left: 38px
            margin-bottom: 35px



    